<!DOCTYPE html>
<html th:include="template :: modelo">

<body>
    <div th:fragment="conteudo">
        <div th:if="${mensagem}">
            <h6 class="p-3 mb-2 bg-warning text-dark" th:text="${mensagem}">erro</h6>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Proprietário</th>
                    <th scope="col">Quartos</th>
                    <th scope="col">Número</th>
                    <th scope="col">Tipo de Ocupação</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="apto : ${apartamentos}">
                    <th scope="row" th:text="${apto.id}"></th>
                    <td th:text="${apto.proprietario.nome}"></td>
                    <td th:text="${apto.quantidadeDeQuartos}"></td>
                    <td th:text="${apto.numeroDoApartamento}"></td>
                    <td th:text="${apto.tipoDeOcupacao}"></td>
                    <td>
                        <a th:href="@{/upload(id=${apto.id})}">Adicionar foto</a>
                        <a th:href="@{/fotos_apto(id=${apto.id})}">Ver fotos</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>